<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<css href="__PUBLIC__/css/admincp.css" />

<!-- dialog -
<css href="__PUBLIC__/js/jquery/themes/custom-theme/jquery.ui.all.css" />
<js href="__PUBLIC__/js/jquery/jquery-1.7.2.js" />
<js href="__PUBLIC__/js/jquery/external/jquery.bgiframe-2.1.2.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.core.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.widget.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.mouse.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.button.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.draggable.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.position.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.dialog.js" />
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.resizable.js" />
 dialog -->

<!-- Jquery -->
<css href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.css" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.js" />
<!-- Jquery -->

<!-- autocomplete 
<js href="__PUBLIC__/js/jquery/ui/jquery.ui.autocomplete.js" />
-->
<style type="text/css">
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
	color:#2E6E9E;
}
</style>
<!-- autocomplete -->

</head>
<body>
<div class="container">
    <h3>{$title}</h3>
    <div class="mainbox">
        <form id="form1" method="post">
            流水编号：<input name="ism_sn" type="text" id="ism_sn" size="30" value="{$main['ism_sn']}" readonly="readonly"/>&nbsp;&nbsp;&nbsp;
            经办人：<input name="ism_operator_name" type="text" id="ism_operator_name" size="20" value="<?php if($action=='add'){echo '请输入关键字或空格';}else{echo $main['ism_operator_name'];}; ?>" style="<?php if($action=='add')echo 'color:#CCC'; ?>" onfocus='clearTip(this)'  onblur='fillTip(this)'/>&nbsp;&nbsp;&nbsp;
            供应商：<input name="ism_supplier_name" type="text" id="ism_supplier_name" size="20" value="<?php if($action=='add'){echo '请输入关键字或空格';}else{echo $main['ism_supplier_name'];}; ?>" style="<?php if($action=='add')echo 'color:#CCC'; ?>" onfocus='clearTip(this)'  onblur='fillTip(this)'/>&nbsp;&nbsp;&nbsp;
            制单员：<input name="ism_writer_name" type="text" id="ism_writer_name" size="20" value="{$_SESSION['user']['user_realname']}" readonly="readonly"/>&nbsp;&nbsp;&nbsp;       
            <?php if($action=='add' || $action=='update'){ ?><input class="btn" type="button" value="添加项" id="btnAdd"/><?php } ?>
            <div class="mainbox">
              <table width="100%" class="datalist fixwidth" id="table">
                <tr>
                  <th>产品名</th>
                  <th>类别</th>
                  <th>单价</th>
                  <th>数量</th>
                  <th>总价</th>
                  <th>仓库</th>
                  <th>备注</th>
                  <?php if($action=='add' || $action=='update'){ ?><th>操作</th><?php } ?>
                </tr>
                <?php foreach($list_sub as $key=>$row){ ?>
                    <tr id="row_{$key}">
                      <td align='center'><input name='iss_prodname[]' type='text' id="iss_prodname_{$key}" size='17' value="<?php if($action=='add'){echo '请输入关键字或空格';}else{echo $row['prod_name'];}; ?>" style="<?php if($action=='add')echo 'color:#CCC'; ?>" onfocus='clearTip(this)' onblur='fillTip(this)'/></td>
                      <td align='center'><input type='text' id="iss_cate_name_{$key}" size='10' disabled='disabled' value="{$row['pdca_name']}" readonly="readonly"/></td>
                      <td align='center'><input name='iss_price[]' type='text' id="iss_price_{$key}" size='10' onblur="compute({$key})" value="{$row['iss_price']}"/></td></td>
                      <td align='center'><input name='iss_count[]' type='text' id="iss_count_{$key}" size='10' onblur="compute({$key})" value="{$row['iss_count']}"/></td>
                      <td align='center'><input name='iss_total[]' type='text' id="iss_total_{$key}" size='10' value="{$row['iss_total']}"/></td>
                      <td align='center'>
                      <select name='iss_store[]' id="iss_store_{$key}">
                        <option value=''>--请选择--</option>
                        <?php foreach($list_store as $row_store){ ?>
                          <option value="{$row_store['sto_id']}" <?php if($row_store['sto_id']==$row['iss_store'])echo "selected='true'"; ?>>{$row_store['sto_name']}</option>
                        <?php } ?>
                      </select>
                      </td>
                      <td align='center'>
                      <input name='iss_remark[]' type='text' id='iss_remark' size='25' value="{$row['iss_remark']}"/>
                      <input name='iss_prod[]' type='hidden' id='iss_prod' value="{$row['iss_prod']}"/>
                      <input name='iss_cate[]' type='hidden' id='iss_cate' value="{$row['iss_cate']}"/>
                      </td>
                      <?php if($action=='add' || $action=='update'){ ?><td align='center'><a href='#' id="linkDelete_{$key}" name='linkDelete' onclick="deleteRow({$key})">删除</a></td><?php } ?>
                    </tr>
                <?php } ?>
              </table>
            </div>
            <?php if($action=='add' || $action=='update'){ ?><input class="btn" type="submit" value="保存" />&nbsp;&nbsp;&nbsp;<?php } ?>
            <input class="btn" type="button" value="返回" onclick="window.history.back()"/>
            <input name="ism_id" id="ism_id" type="hidden" value="{$main['ism_id']}"/>
            <input name="ism_writer" id="ism_writer" type="hidden" value="{$_SESSION['user']['user_realname']}"/>
            <input name="ism_supplier" id="ism_supplier" type="hidden" value="{$main['ism_supplier']}"/>
            <input name="ism_operator" id="ism_operator" type="hidden" value="{$main['ism_operator']}"/>
                    </form>
    </div>
</div>
<div id="dialogNoData" style="display:none"><br>
  <table width="100%" border="0" align="left" class="p_table2">
    <tr>
      <td align="left" id='msg'></td>
    </tr>
  </table>
</div>
</body>
</html>
<script type="text/javascript">
var action="{$action}";
var url="__URL__";
</script>
<js href="__PUBLIC__/js/tpl/instore_add.js" />