<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<css href="__PUBLIC__/css/admincp.css" />
<css href="__PUBLIC__/css/pages.css" />
<!-- Jquery -->
<css href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.css" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.js" />
<!-- Jquery -->
</head>
<body>
  <!--<h3>仓库列表</h3>
  选择列表
  <select name="jump" id="jump">
    <option value="0" <?php if($action=="cate")echo "selected='true'" ?>>产品类别列表</option>
    <option value="1" <?php if($action=="index")echo "selected='true'" ?>>产品列表</option>
    <option value="2" <?php if($action=="store")echo "selected='true'" ?>>仓库列表</option>
    <option value="3" <?php if($action=="guest")echo "selected='true'" ?>>客户列表</option>
  </select>-->
  <input type="button"  class="btn" id="button" value="添加员工" onclick="toAddEmployee()"/>
  <div class="mainbox">
      <table class="datalist fixwidth">
        <tr>
          <th>姓名</th>
          <th>电话</th>
          <th>手机</th>
          <th>地址</th>
          <th>默认</th>
          <th>离职</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
        <?php foreach($list as $key=>$row){ ?>
        <tr>
          <td align="center"><?php echo $row["emp_name"]; ?></td>
          <td align="center"><?php echo $row["emp_phone"]; ?></td>
          <td align="center"><?php echo $row["emp_mobile"]; ?></td>
          <td align="center"><?php echo $row["emp_address"]; ?></td>
          <td align="center"><?php echo $row["emp_isdefault"]==1?'√':''; ?></td>
          <td align="center"><?php echo $row["emp_isleave"]==1?'√':''; ?></td>
          <td align="center"><?php echo $row["emp_remark"]; ?></td>
          <td align="center"><a href="#" onclick="toEditEmployee(<?php echo $row['emp_id']; ?>)">编辑</a>&nbsp;&nbsp;<a href="#" onclick="del(<?php echo $row['emp_id']; ?>)">删除</a></td>
        </tr>
        <?php } ?>
        <tr class="nobg">
          <td colspan="8" align="center"><div class="pages">{$page}</div></td>
        </tr>
      </table>
  </div>
  <div id="dialogEmployee" style="display:none">
      <br><br>
      <table width="100%" border="0" align="left" class="p_table2">
        <tr>
          <td width="15%" height="30" align="right">姓名： </td>
          <td align="left"><input name="emp_name" type="text" id="emp_name" size="20"/></td>
          <td width="15%" align="right">默认经办人：</td>
          <td width="40" align="left"><input type="checkbox" name="emp_isdefault" id="emp_isdefault" /></td>
          <td width="40" align="right">离职：</td>
          <td align="left"><input type="checkbox" name="emp_isleave" id="emp_isleave" /></td>
        </tr>
        <tr>
          <td height="30" align="right">电话：</td>
          <td align="left"><input name="emp_phone" type="text" id="emp_phone" size="20"/></td>
          <td align="right">手机： </td>
          <td colspan="3" align="left"><input name="emp_mobile" type="text" id="emp_mobile" size="20"/></td>
        </tr>
        <tr>
          <td height="30" align="right">身份证号： </td>
          <td align="left"><input name="emp_idnum" type="text" id="emp_idnum" size="20"/></td>
          <td align="right">地址：</td>
          <td colspan="3" align="left"><input name="emp_address" type="text" id="emp_address" size="45"/></td>
        </tr>
        <tr>
          <td height="30" align="right">备注：</td>
          <td colspan="5" align="left"><textarea name="emp_remark" cols="91" id="emp_remark"></textarea></td>
        </tr>
      </table>
  </div>
<js href="__PUBLIC__/js/tpl/basedata_employee.js" />
</body>
</html>