<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<css href="__PUBLIC__/css/admincp.css" />
<css href="__PUBLIC__/css/pages.css" />

<!-- Jquery -->
<css href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.css" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.js" />
<!-- Jquery -->

</head>
<body>
  <!--<h3>仓库列表</h3>
  选择列表
  <select name="jump" id="jump">
    <option value="0" <?php if($action=="cate")echo "selected='true'" ?>>产品类别列表</option>
    <option value="1" <?php if($action=="index")echo "selected='true'" ?>>产品列表</option>
    <option value="2" <?php if($action=="store")echo "selected='true'" ?>>仓库列表</option>
    <option value="3" <?php if($action=="guest")echo "selected='true'" ?>>客户列表</option>
  </select>-->
  <input type="button"  class="btn" id="button" value="添加仓库" onclick="toAddStore()"/>
  <div class="mainbox">
      <table class="datalist fixwidth">
        <tr>
          <th>名称</th>
          <th>详细地址</th>
          <th>仓管员</th>
          <th>联系电话</th>
          <th>默认</th>
          <th>操作</th>
        </tr>
        <?php foreach($list as $key=>$row){ ?>
        <tr>
          <td align="center"><?php echo $row["sto_name"]; ?></td>
          <td align="center"><?php echo $row["sto_address"]; ?></td>
          <td align="center"><?php echo $row["sto_storer"]; ?></td>
          <td align="center"><?php echo $row["sto_phone"]; ?></td>
          <td align="center"><?php echo $row["sto_isdefault"]==1?'√':''; ?></td>
          <td align="center"><a href="#" onclick='toEditStore({$row["sto_id"]})'>编辑</a>&nbsp;&nbsp;<a href="#" onclick='del({$row["sto_id"]})'>删除</a></td>
        </tr>
        <?php } ?>
        <tr class="nobg">
          <td colspan="7" align="center"><div class="pages">{$page}</div></td>
        </tr>
      </table>
  </div>
  <div id="dialogStore" style="display:none">
      <br><br>
      <table width="100%" border="0" align="left" class="p_table2">
        <tr>
          <td height="30" align="right">名称： </td>
          <td align="left"><input name="sto_name" type="text" id="sto_name" size="20"/></td>
          <td align="right">是否默认：</td>
          <td align="left"><input type="checkbox" name="sto_isdefault" id="sto_isdefault">
          <label for="sto_isdefault"></label></td>
        </tr>
        <tr>
          <td height="30" align="right">详细地址： </td>
          <td align="left"><input name="sto_address" type="text" id="sto_address" size="20"/></td>
          <td align="right">手机：</td>
          <td align="left"><input name="sto_mobile" type="text" id="sto_mobile" size="20"/></td>
        </tr>
        <tr>
          <td height="30" align="right">仓管员： </td>
          <td align="left"><input name="sto_storer" type="text" id="sto_storer" size="20"/></td>
          <td align="right">联系电话：</td>
          <td align="left"><input name="sto_phone" type="text" id="sto_phone" size="20"/></td>
        </tr>
        <tr>
          <td height="30" align="right">备注：</td>
          <td colspan="3" align="left"><input name="sto_remark" type="text" id="sto_remark" size="86"/></td>
        </tr>
      </table>
  </div>
<js href="__PUBLIC__/js/tpl/basedata_store.js" />
</body>
</html>