<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<css href="__PUBLIC__/css/admincp.css" />

<!-- autocomplete
<link rel="stylesheet" href="__PUBLIC__/js/jquery/themes/custom-theme/jquery.ui.all.css">
<script src="__PUBLIC__/js/jquery/jquery-1.7.2.js"></script>
<script src="__PUBLIC__/js/jquery/ui/jquery.ui.core.js"></script>
<script src="__PUBLIC__/js/jquery/ui/jquery.ui.widget.js"></script>
<script src="__PUBLIC__/js/jquery/ui/jquery.ui.position.js"></script>
<script src="__PUBLIC__/js/jquery/ui/jquery.ui.autocomplete.js"></script>
-->
<!-- Jquery -->
<css href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.css" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.js" />
<!-- Jquery -->
<style>
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
	color:#2E6E9E;
}
</style>

<!-- button 
<script src="__PUBLIC__/js/jquery/ui/jquery.ui.button.js"></script>
 button -->

</head>
<body>
<div class="container">
  <h3>出库登记</h3>
  <form id="form1" method="post">
    流水编号：<input name="osm_sn" type="text" id="osm_sn" size="30"  value="<?php echo $main['osm_sn']; ?>" readonly="readonly"/>&nbsp;&nbsp;
    出货经办人：<input name="osm_operator_name" type="text" id="osm_operator_name" size="20" value="<?php if($action=='add'){echo '请输入关键字或空格';}else{echo $main['osm_operator_name'];}; ?>" style="<?php if($action=='add')echo 'color:#CCC'; ?>" onfocus='clearTip(this)'  onblur='fillTip(this)'/>&nbsp;&nbsp;
    <!--联系电话：<input name="osm_phone" type="text" id="osm_phone" size="20" />&nbsp;&nbsp;-->
    客户：<input name="osm_customer_name" type="text" id="osm_customer_name" size="20" value="<?php if($action=='add'){echo '请输入关键字或空格';}else{echo $main['osm_customer_name'];}; ?>" style="<?php if($action=='add')echo 'color:#CCC'; ?>" onfocus='clearTip(this)'  onblur='fillTip(this)'/>&nbsp;&nbsp;
    制单员：<input name="osm_writer_name" type="text" id="osm_writer_name" size="20" value="<?php echo $_SESSION['user']['user_realname'] ?>" readonly="readonly"/>&nbsp;&nbsp;
    <?php if($action=='add'){ ?><input class="btn" type="button" value="添加项" id="btnAdd"/><?php } ?>
    <div class="mainbox">
    <table width="100%" class="datalist fixwidth" id="table">
      <tr>
        <th>产品名</th>
        <th>类别</th>
        <th>单价</th>
        <th>数量</th>
        <th>总价</th>
        <th>仓库</th>
        <th>备注</th>
        <?php if($action=='add'){ ?><th>操作</th><?php } ?>
      </tr>
      <?php foreach($list_sub as $key=>$row_sub){ ?>
          <tr>
            <td align='center'><input type='text' id='oss_prodname_<?php echo $key; ?>' name="oss_prodname[]" size='17' value="<?php if($action=='add'){echo '请输入关键字或空格';}else{echo $row_sub['prod_name'];}; ?>" onfocus='clearTip(this)' onblur='fillTip(this)'/></td>
            <td align='center'>
            <input type='text' id="oss_cate_name_<?php echo $key; ?>" size='10' disabled='disabled' value="<?php echo $row_sub['pdca_name']; ?>" readonly="readonly"/>
            </td>
            <td align='center'><input name='oss_price[]' type='text' id='oss_price_<?php echo $key; ?>' size='8' onblur="compute(<?php echo $key; ?>)" value="<?php echo $row_sub["oss_price"]; ?>"/></td>
            <td align='center'><input name='oss_count[]' type='text' id='oss_count_<?php echo $key; ?>' size='8' onblur="compute(<?php echo $key; ?>)" value="<?php echo $row_sub["oss_count"]; ?>"/></td>
            <td align='center'><input name='oss_total[]' type='text' id='oss_total_<?php echo $key; ?>' size='8' value="<?php echo $row_sub["oss_total"]; ?>"/></td>
            <td align='center'>
              <select name='oss_store[]' id='oss_store'>
              <option value=''>--请选择--</option>
              <?php foreach($list_store as $row_store){ ?>
                <option value='<?php echo $row_store['sto_id']; ?>' <?php if($row_store['sto_id']==$row_sub['oss_store'])echo "selected='true'" ?>><?php echo $row_store['sto_name']; ?></option>
              <?php } ?>
              </select>
            </td>
            <td align='center'>
            <input name='oss_remark[]' type='text' id='oss_remark' size='25' value="<?php echo $row_sub['oss_remark']; ?>"/>
            <input name='oss_prod[]' type='hidden' id='oss_prod' value="<?php echo $row_sub['oss_prod']; ?>"/>
            <input name='oss_cate[]' type='hidden' id='oss_cate' value="<?php echo $row_sub['oss_cate']; ?>"/>
            <input name="oss_stockid[]" type="hidden" id="oss_stockid" value="<?php echo $row_sub['oss_stockid'];?>"/>
            </td>
            <?php if($action=='add'){ ?><td align='center'><a href='#' name='linkDelete' onclick='deleteRow("+id_num+")'>删除</a></td><?php } ?>
          </tr>
      <?php } ?>
    </table>
    </div>
    <?php if($action=='add' || $action=='update'){ ?><input class="btn" type="submit" value="保存" />&nbsp;&nbsp;<?php } ?>
    <input class="btn" type="button" value="返回" onclick="window.history.back()"/>
    <input name="osm_id" type="hidden" id="osm_id" value="<?php echo $main['osm_id'];?>"/>
    <input name="osm_operator" type="hidden" id="osm_operator" value="<?php echo $main['osm_operator'];?>"/>
    <input name="osm_customer" type="hidden" id="osm_customer" value="<?php echo $main['osm_customer'];?>"/>
    <input name="osm_writer" type="hidden" id="osm_writer" value="<?php echo $_SESSION['user']['user_realname'] ?>"/>
  </form>
</div>
<script>
var action="<?php echo $action; ?>";
var url="__URL__";
</script>
<script language="JavaScript" src="__PUBLIC__/js/tpl/outstore_add.js" type="text/javascript"></script>
</body>
</html>