<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<css href="__PUBLIC__/css/admincp.css" />


<!-- Jquery -->
<css href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.css" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js" />
<js href="__PUBLIC__/js/jquery-ui-1.12.1.custom/jquery-ui.js" />
<!-- Jquery -->
</head>
<body>
<div class="container">
  <h3>数据备份</h3>
  <input name="back" type="button" class="btn" value="备份数据库" onclick="window.location.href='__URL__/backup'" />&nbsp;&nbsp;
  <!--<input name="back" type="button" class="btn" value="清空演示数据" onclick="window.location.href='__URL__/backup'" />-->
  <div class="mainbox">
    <form action="__URL__/resume" method="post" enctype="multipart/form-data">
      <!--<input name="file" type="file" id="file"/>&nbsp;&nbsp;&nbsp;&nbsp;
      <input name="resume" type="button" class="btn" value="恢复" id="resume" />-->
      <table class="datalist fixwidth">
        <tr>
          <th>名称</th>
          <!--<th>路径</th>-->
          <th>备份时间</th>
          <th>操作</th>
        </tr>
        <?php foreach($list as $key=>$row){ ?>
        <tr>
          <td align="center"><a href="<?php echo $row["back_path"]; ?>" target="_blank" title="右键另存"><?php echo $row["back_name"]; ?></a></td>
          <!--<td align="center"><?php echo $row["back_path"]; ?></td>-->
          <td align="center"><?php echo $row["back_datetime"]; ?></td>
          <td align="center"><a href="#" id="resume" onclick="resume(<?php echo $row['back_id']; ?>)">恢复</a>&nbsp;&nbsp;<a href="#" onclick="del(<?php echo $row["back_id"]; ?>)">删除</a></td>
        </tr>
        <?php } ?>
        <tr class="nobg">
          <td colspan="7" align="center"><?php echo $page; ?></td>
        </tr>
      </table>
    </form>
  </div>
</div>
<js href="__PUBLIC__/js/tpl/backup_index.js" />
</body>
</html>